html,body{width:100%;height:100%;overflow:hidden;}
body.active{background:url(../images/loving-bg.jpg) no-repeat center center;background-size:100%;}
.background-yd{width:100%;height:100%;background:linear-gradient(to bottom,#fc6942,#fdc983);position:relative;opacity:0;transition:all .5s linear;}
.background-yd.active{opacity:1;}
/*.background-yd{width:100%;height:100%;background:radial-gradient(#DFFFA9,#498B00);}*/
.background-yd>img{width:0.375rem;height:0.375rem;position:absolute;transition:all 2s ease-in-out;opacity:0;}
@keyframes run {
    0%{transform:scale(1)}
    25%{transform:scale(0.8)}
    50%{transform:scale(0.6)}
    75%{transform:scale(0.8)}
    100%{transform:scale(1)}
}
.new-year-text{width:2.3rem;height:0.7rem;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.yuan{display:inline-block;width:100%;height:100%;background:url(../images/timgg.png) no-repeat;background-size:100%;}
/*.yuan{position:absolute;width:0.47rem;height:0.8rem;left:0;font-size:0.5rem;line-height:0.8rem;text-align:center;}*/
/*.dan{position:absolute;width:0.49rem;height:0.8rem;left:0.55rem;font-size:0.5rem;line-height:0.8rem;text-align:center;}*/
/*.kuai{position:absolute;width:0.425rem;height:0.8rem;left:1.1rem;font-size:0.5rem;line-height:0.8rem;text-align:center;}*/
/*.le{position:absolute;width:0.43rem;height:0.8rem;left:1.65rem;font-size:0.5rem;line-height:0.8rem;text-align:center;}*/
.new-year-text>span{color:#fff;transition:all 1s ease-in-out;transform:scale(0);opacity:0;font-family:SimSun;}
.new-year-text>span.active{transform:scale(1);opacity:1;}

.new-wish{display:none;position:absolute;bottom:1rem;font-size:0.15rem;color:#fff;text-align:center;width:70%;left:50%;transform:translateX(-50%);}
.second-page{display:none;position:absolute;bottom:0.5rem;width:1rem;height:0.35rem;background:#fc6942;left:50%;transform:translateX(-50%);font-size:0.18rem;color:#fff;border-radius:0.03rem;text-align:center;line-height:0.35rem;}



/*to-page*/
.background-love{position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/test.jpg) no-repeat center center;background-size:100% 100%;display:none;}
.background-love>img{width:0.375rem;height:0.375rem;position:absolute;transition:all 2s ease-in-out;opacity:0;}
.love-ing{width:1rem;height:1rem;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.bdl{width:0.8rem;height:1.22rem;background:url(../images/boy.png) no-repeat;background-size:100% 100%;position:absolute;top:-0.2rem;left:-0.3rem;transition:all 1.5s linear;opacity:0;}
.bdr{width:0.695rem;height:1.22rem;background:url(../images/girl.png) no-repeat;background-size:100% 100%;position:absolute;top:-0.2rem;right:-0.2rem;transition:all 1.5s linear;opacity:0;}
.bdl.active{left:-0.1rem;opacity:1;}
.bdr.active{right:0.02rem;opacity:1;}
.wish-loving1{width:0.3rem;height:0;overflow:hidden;margin:-1.78rem 0 0 -0.55rem;position:absolute;top:50%;left:50%;;z-index:100;font-size:0.25rem;color:#26E4FD;text-align:center;transition:all 2s linear .4s;}
.wish-loving2{margin:-0.25rem 0 0 0;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);z-index:100;font-size:0.4rem;color:#26E4FD;transition:all .3s linear 2.5s;opacity:0;}
.wish-loving3{width:0.3rem;height:0;overflow:hidden;margin:0rem 0 0 0.3rem;position:absolute;top:50%;left:50%;z-index:100;font-size:0.25rem;color:#26E4FD;text-align:center;transition:all 2s linear 3.1s;}
.wish-loving1.active{height:3rem;}
.wish-loving2.active{opacity:1;}
.wish-loving3.active{height:2.3rem;}
.three-page{opacity:0;position:absolute;bottom:0.5rem;width:1rem;height:0.35rem;background:#26E4FD;left:50%;transform:translateX(-50%);font-size:0.18rem;color:#fff;border-radius:0.03rem;text-align:center;line-height:0.35rem;transition:all 0.5s linear 2s;}
.three-page.active{opacity:1;}



/*three*/
.more-money{background:linear-gradient(to bottom,#fc6942,#fdc983);position:absolute;width:100%;height:100%;top:0;left:0;background:#000;z-index:111;display:none;}
.laoshu_left{width:1.5rem;position:absolute;top:0;left:0;z-index:100;opacity:0;transition:all .5s linear 0.5s;}
.laoshu_right{width:1.5rem;position:absolute;top:0;right:0;z-index:100;opacity:0;transition:all .5s linear 0.5s;}
.laoshu_left.active,.laoshu_right.active{opacity:1;}
.laoshu_left>img,.laoshu_right>img{width:100%;vertical-align:middle;}
.more-money.active{opacity:1;}
.money-much{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);z-index:100;}
.money-much>span{font-size:0.5rem;color:#f5f;display:block;transform:rotateY(-720deg);opacity:0;}
.money-much>span.n1{transition:all .7s linear .5s;}
.money-much>span.n2{transition:all .7s linear .6s;}
.money-much>span.n3{transition:all .7s linear .7s;}
.money-much>span.n4{transition:all .7s linear .8s;}
.money-much>span.active{transform:rotateY(360deg);opacity:1;}
/*.money-much>span.n2.active{}*/
/*.money-much>span.n3.active{}*/
/*.money-much>span.n4.active{}*/
/*.money-much>span.n5.active{}*/
/*.money-much>span.n6.active{}*/
/*.money-much>span.n7.active{}*/
/*snow-style*/
#snowContainer,#leafContainer
{
    /*background:linear-gradient(to bottom,#fc6942,#fdc983);*/
    background:#fdc983;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
}
#leafContainer.active{
    background:#fdc983 url(../images/jubaopen1.png) no-repeat bottom left;
    background-size:100%;
}
#snowContainer>div,#leafContainer > div {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-direction: normal, normal;
    -webkit-animation-timing-function: linear, ease-in;
}
#snowContainer>div>img,#leafContainer > div > img{
    width: 100%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-transform-origin: 50% -100%;
}

@-webkit-keyframes fade{
    0% {opacity: 1;}
    95%{ opacity: 1;}
    100%{opacity: 0;}
}
@-webkit-keyframes drop {
    0%{-webkit-transform: translate(0px, -50px);
    }
    100%{-webkit-transform: translate(0px, 850px);}
}
@-webkit-keyframes clockwiseSpin{
    0%{-webkit-transform: rotate(-50deg);}
    100%{-webkit-transform: rotate(50deg);}
}
@-webkit-keyframes counterclockwiseSpinAndFlip {
    0%{-webkit-transform: scale(-1, 1) rotate(50deg);}
    100%{-webkit-transform: scale(-1, 1) rotate(-50deg);}
}
/*four-page*/
.laoshu_next{z-index:100;opacity:0;position:absolute;bottom:0.5rem;width:1rem;height:0.35rem;background:rgba(0,0,0,0.5);left:50%;transform:translateX(-50%);font-size:0.18rem;color:#fff;border-radius:0.03rem;text-align:center;line-height:0.35rem;transition:all 0.5s linear 2s;}
.laoshu_next.active{opacity:1;animation:nihao 2s infinite linear;}
@keyframes nihao {
    0%{opacity:0.5;transform:scale(0.95) translateX(-50%);}
    50%{opacity:1;transform:scale(1.05) translateX(-50%);}
    100%{opacity:0.5;transform:scale(0.95) translateX(-50%);}
}
.happy_year{position:absolute;top:0;left:0;width:100%;height:100%;background:linear-gradient(to bottom,#fc6942,#fdc983);display:none;}
.last-alert{z-index:1000;letter-spacing:0.02rem;opacity:0;width:100%;text-align:center;color:#26E4FD;font-size:0.15rem;position:absolute;top:0.3rem;left:50%;transform:translateX(-50%);}
.last-alert.active{animation:sf 2s linear infinite;}
@keyframes sf {
    0%{transform:translateX(-50%) scale(0.98);opacity:0.5}
    50%{transform:translateX(-50%) scale(1.02);opacity:0.8}
    100%{transform:translateX(-50%) scale(0.98);opacity:0.5}
}

canvas {
    position: absolute;
    width: 100%;
}

.control {
    position: absolute;
}

.control input {
    border: 0;
    margin: 0;
    padding: 15px;
    outline: none;
    text-align: center;
}

.control button {
    border: 0;
    margin: 0;
    padding: 15px;
    outline: none;
    background: #333;
    color: #fff;
}

.control button:focus,
.control button:hover {
    background: #222
}
